.recipe-form-container {
  background-color: var(--pink);
}
.recipe-form-header {
  width: 100%;
  text-decoration: underline;
}
.form-header {
  width: auto;
  display: flex;
  justify-content: center;
}

.form-subheader {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.casc-p1{
  margin-top: 0;
  margin-left: 4em;
  color: rgb(231, 131, 0);
}

.casc-p3{
  margin-right: 2em;
}

.ui.form,
.ui.form .fields {
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}
.ui.form .fields:last-child {
  margin: 0 -.5em 0em;
  padding-bottom: 2em;
}

.fields .ui.button{
    margin-top: 1rem;
    padding-left: 2rem ;
    padding-right: 2rem ;
}

.recipe-form__wrapper{
  margin: 0 auto;
  max-width: 1000px;
  padding: 24px;
}
.recipe-form__container{
  display: grid;
  row-gap: 20px;
  margin-bottom: 25px;
}
