.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fcede4;
}

@media (max-width: 712px){
    .card-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #fcede4;
    }

}

.card-container {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
    border-radius: 1%;
    border-style: solid;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
}

.title:hover{ 
    box-shadow: -6px 7px 0px black;
    transform: translate(6px, -7px);
    text-decoration: none;
    color: black;
}