@media (max-width: 1400px) {
  .category-card-container .title,
  .card-list .title,
  .sort-by-container .card-list-sort,
  .card-list-container .sort-all-title {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1%;
    border-style: none;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
  }
  .sort-by-container .card-list-sort {
    background-color: rgb(255, 174, 0);
  }
  .card-list-container .sort-all-title {
    color: white;
    border: none;
  }
}
@media (max-width: 721px) {
  .category-card-container .title,
  .card-list .title,
  .sort-by-container .card-list-sort,
  .card-list-container .sort-all-title {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1%;
    border-style: none;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
  }
  .sort-by-container .card-list-sort {
    background-color: rgb(255, 174, 0);
  }
  .card-list-container .sort-all-title {
    color: white;
    border: none;
  }
}
@media (max-width: 587px) {
  .category-card-container .title,
  .card-list .title,
  .sort-by-container .card-list-sort,
  .card-list-container .sort-all-title {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1%;
    border-style: none;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
  }
  .sort-by-container .card-list-sort {
    background-color: rgb(255, 174, 0);
  }
  .card-list-container .sort-all-title {
    color: white;
    border: none;
  }
}
.card-list-container {
  background-color: #fcede4;
}
.card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sort-by-icon {
  margin: 0.5em;
}
.sort-all-title{
  background-color: rgb(13, 30, 184);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 3px solic rgb(0, 0, 0);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.card-list-sort{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: .7rem;
  padding-bottom: .7rem; 
}

.title {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  border-radius: 1%;
  border-style: solid;
  box-shadow: 0px 0px 0px black;
  transition: all 250ms ease-in-out;
}

.title, .card-list-sort, .sort-all-title{
  flex: 1;
}

.title:hover,
.sort-all-title:hover,
.sort-by-container .card-list-sort:hover {
  box-shadow: -6px 7px 0px black;
  transform: translate(6px, -7px);
  text-decoration: none;
  color: black;

}
