.recipe-form-container {
    background-color: #fcede4;
    padding:7rem;
}
.recipe-form-header{
    background-color: #fcede4;
    width: 100%;
    position: relative;
}
.form-header{
    /* margin-left: 10rem;
    padding: 2rem; */
    width: auto;
    display: flex;
    justify-content: space-around;
}
.form-instruction{
    width: 40%;
    display: flex;
    /* top:4rem;
    right: 4rem;
    position: absolute; */
}
.form-instruction-2{
    width: 40%;
    display: flex;

}
.ui.form, .ui.form .fields{
    justify-content: center;
}
