.recipe-form-container {
  background-color: #fcede4;
}
.recipe-form-header {
  width: 100%;
  text-decoration: underline;
}
.form-header {
  width: auto;
  display: flex;
  justify-content: center;
}

.form-subheader {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}


@media (max-width: 3000px) {
  .form-instruction {
    width: 25%;
    position: absolute;
    top: 1rem;
    left: 20rem;
  }
  .form-instruction-2 {
    width: 25%;
    position: absolute;
    top: 4em;
    right: 20rem;
  }
}
@media (max-width: 1073px) {
  .form-instruction {
    position: absolute;
    width: 40%;

  }
  .form-instruction-2 {
    width: 35%;
    position: absolute;
  }
}
@media (max-width: 727px) {
  .form-instruction {
    position: absolute;
    width: 45%;
    top: 1rem;
    left: 200px;
  }
  .form-instruction-2 {
    width: 35%;
    position: absolute;
    left: 200px;
  }

}
@media (max-width: 623px) {
  .form-instruction {
    position: absolute;
    width: 50%;
    top: 1rem;
    left: 120px;
  }
  .form-instruction-2 {
    width: 35%;
    position: absolute;
    left: 120px;
  }
  
}

.ui.form,
.ui.form .fields {
  justify-content: center;
}
.ui.form .fields:last-child {
  margin: 0 -.5em 0em;
  padding-bottom: 2em;
}

.fields .ui.button{
    margin-top: 1rem;
    padding-left: 2rem ;
    padding-right: 2rem ;
}

/* .ui.form .fields .ui.button{
    display: flex;
    justify-content: center;
    0 -.5em 0em
} */
