.recipe-form-container {
  background-color: #fcede4;
}
.recipe-form-header {
  width: 100%;
  text-decoration: underline;
}
.form-header {
  width: auto;
  display: flex;
  justify-content: center;
}

.form-subheader {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.form-p1:first-child {
  margin-top: 0;
  margin-left: 1em;
}

.ui.form,
.ui.form .fields {
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}
.ui.form .fields:last-child {
  margin: 0 -.5em 0em;
  padding-bottom: 2em;
}

.fields .ui.button{
    margin-top: 1rem;
    padding-left: 2rem ;
    padding-right: 2rem ;
}

/* .ui.form .fields .ui.button{
    display: flex;
    justify-content: center;
    0 -.5em 0em
} */
