.footer{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    border-top: 5px dashed black;
    background-color: #fcede4;
    font-size: 2rem;
}
.footer-icon{
    font-size: 5rem;
    color: black;
}
.footer-icon:hover{
    text-decoration: none;
    color: rgb(216, 0, 0);
}
.footer-home{
    padding:.6rem;
    cursor: pointer;
    color:black;
}
.footer-submit{
    padding:.6rem;
    cursor: pointer;
    color:black;
}
.footer-home:hover{
    text-decoration: underline;
    color: black;
}
.footer-submit:hover{
    text-decoration: underline;
    color: black;
}