.recipes-container .title{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.recipes-container .card-container{
    height: 9rem;
}
@media (max-width: 712px){
    .recipes-container .card-container{
        height: 5rem;
    }
}

.recipe-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fcede4;
    margin: -5px;
}
.recipe-list>*{
    flex: 0 1 160px;
    margin: 10px;
}

.recipe-list .ui.card{
    margin: 1em 0;
    margin: 10px;
    padding: 2rem;
}

.recipe-list .ui.card>.content, .ui.cards>.card>.content {
    padding: 0;
}

.recipe-method{
    padding-inline-start: 15px;
    margin-block-start: 0;
}