.recipe-title{
    text-decoration: underline;
    margin-left: .7rem;
    margin: calc(2rem - .14285714em) 0 .5rem;
}
.recipe-header{
    text-decoration: underline;
    margin-left: .7rem;
    margin:calc(2rem - .14285714em) .5rem 0rem;
}
.recipe-card{
    border: 1.75px solid black;
    /* max-width: 600px; */
    min-width: 350px;
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 0px black;
    transition: all 250ms ease-in-out;
}
.recipe-card:hover{
    box-shadow: -6px 7px 0px black;
    transform: translate(6px, -7px);
    text-decoration: none;
    color: black;
}
.recipe-column {
    float: left;
    width: 50%;
    padding: 10px;
}
.recipe-column .recipe-method, .recipe-ingredients{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}