.edit__header__title{
    width: 50%;
    margin-bottom: 25px;
}
.edit-body__container{
    display:grid;
    grid-template-columns: 50% 50%;
    column-gap: 25px;
    padding: 25px;
}
.edit-body__textarea{
    width: 362px;
}
@media screen and (max-width: 768px) {
    .edit-body__container{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 25px;
    }
    .edit-body__textarea{
        width: 362px;
    }
}
@media screen and (max-width: 425px) {
    .edit-body__textarea{
        width: 250px;
    }
}
@media screen and (max-width: 320px) {
    .edit-body__textarea{
        width: 190px;
    }
}

